#
name: Tests the docker image creation

# Configures this workflow to run every time a change is pushed to the branch called `release`.
on:
  push:
    branches: master


jobs:
  test:
    runs-on: ubuntu-latest
    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      # Uses the `docker/login-action` action to log in to the Container registry registry using the account and password that will publish the packages. Once published, the packages are scoped to the account defined here.
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
